.nav {
  background-color: var(--primary);
  width: 100%;
  padding: 0 var(--sp-xl) var(--sp-lg) var(--sp-xl);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-grey);
  ul {
    display: flex;
    justify-content: space-between;
    column-gap: var(--sp-lg);
  }

  li {
    padding: var(--sp-xl) var(--sp-ml) var(--sp-md) var(--sp-ml);
    background-color: var(--background);
    color: var(--primary);
    border-radius: 0 0 var(--sp-lg) var(--sp-lg);
    box-shadow: 0px 4px var(--sp-lg) rgba(0, 0, 0, 0.3); 

    transition: transform 0.2s ease; /* Move transition here */

    &:hover {
      background-color: var(--background-light);
      color: var(--accent);
      transform: scale(1.1);
    }
  }

  .login {
    /* Add specific styles for .login here */
  }

  .settings {
    /* Add specific styles for .settings here */
  }
}
