.aside {
  grid-area: 1 / 1 / 7 / 2;

  margin: 0;
  padding: 0.2em;
  background-color: #3a3a3a;

  .file-tree-body {
    padding: 0.2em;
    background-color: #3a3a3a;
  }
  .folder {
    color: #dfdfdf;
    .folder-contents {
      color: #3a3a3a;
      padding: 0.2em;
      background-color: #d0caaf;
    }
  }
  .folder.selected,
  .file.selected {
    background-color: #717171; // Example background color for selected items
  }
}
