.aside__file-tree {
  margin: var(--sp-lg);
  background-color: var(--primary-light);
  box-shadow: 0px 8px var(--sp-lg) rgba(0, 0, 0, 0.3);
  border-radius: var(--sp-lg);

  .aside__file-tree__header-title {
    padding: var(--sp-md);
    border-radius: var(--sp-lg) var(--sp-lg) 0 0;
    background-color: var(--header-accent);
  }
  .aside__file-tree__content {
    margin: var(--sp-md);

    .aside__file-tree__folder {
      margin-bottom: var(--sp-md);
      margin-right: var(--sp-sm);
      padding-right: var(--sp-sm);
      padding-bottom: var(--sp-xs);
      background-color: var(--header-accent);
      border-radius: 4px;

      .aside__file-tree__folder-header {
        .aside__file-tree__folder-title {
        }
      }
      
      .aside__file-tree__folder-contents {
        padding-left: var(--sp-md);
        padding-bottom: var(--sp-xs);
        margin: var(--sp-sm) 0 var(--sp-sm) var(--sp-sm);
        background-color: var(--primary-light);

      }
      .aside__file-tree__file-title {
        margin-bottom: var(--sp-sm);
      }
    }
  }
}
